
    div{
        text-align: center;
        box-shadow: 0px 18px 30px 18px grey;
        width: 505px;
        height: 355px;
        margin: auto;
        margin-top: 150px;
        margin-bottom: 150px;
    
    }
    input{
        height: 30px;
        width: 300px;
        background-color: rgb(250, 217, 222);
        border: none;
    }
    input:focus-within{
        background: orangered;
    }
    input:required{
        background-color: antiquewhite;
    }
button{
    width: 300px; height: 30px; background: linear-gradient(to right, pink, yellow); border:none; padding: 10px;
}
img{
    width: 100px; height: 100px;
}
@supports{display: block; background: pink;}