.ty{margin-top: 20px;}
.svg{color: midnightblue;}
.id{padding: 50px 20px;}
.svg:hover{color: white; text-decoration: none;}
.df:hover{background-color: midnightblue;}
.imgs{float: left; margin-top: 10px;transition: 3s; padding-left: 20px; height: 320px; width: 600px;}
.imgs:hover{transform: scale(80%);}
.rt{padding-left: 700px;}
.css{margin-top: 100px;}
.cas{color: midnightblue; margin-top: 50px;}
.we{font-weight: bold; margin-top: 40px;}
p{color: grey; font-weight: bold; font-size: 19px;}
.pl{margin-top: 50px;}
.hb{color: midnightblue; font-size: large;}
.cbs{color: midnightblue; padding-top: 50px;}
.cv{padding-left: 30px;}
.but{margin-top: 40px;}
.toi{margin-top: 90px; margin-left: 20px;} .mlo:hover{transform: scale(80%);}
.cl{position: fixed; bottom:0px; background-color: whitesmoke; padding-left: 20px; padding-bottom: 30px; padding-top: 20px;}
.ok{ border-color: cornflowerblue; align-items: flex-start;}
.anc:hover{color: white;} .anc{color: cornflowerblue; font-weight: 3000; font-weight: bold;} .mh:hover{color: white;}
.edc{padding-bottom: 30px;} .ede{float: left;}
.mlo{float: left;}
.wq{margin-left: 680px;}
.df{margin-top: 20px;}
.lim{float: right; width: 600px; height: 300px; }.lim:hover{transform: scale(80%); transition: 3s;}
.dk{margin-top: 100px;}
.otp{margin-left: 20px;}
.fy{margin-top: 60px;}
.ass{padding-left: 20px;}
.butt{ margin-top: 30px;}
.aud{display: flex; padding-top: 50px;}
.loa:hover{transform: scale(97%);}
div + div{padding-left: 20px;}